<form
  *ngIf="showAddTodo"
  class="add-form"
  (ngSubmit)="onSubmit()"
>
  <div class="form-control">
    <label for="text">Todo</label>
    <input
      type="text"
      name="text"
      id="text"
      [(ngModel)]="todo_text"
      placeholder="Code a lot of stuff"
    >
  </div>
  <div class="form-control">
    <label for="text">Due Date</label>
    <input
      type="text"
      name="date"
      id="text"
      [(ngModel)]="due_date"
      placeholder="Due Date"
    >
  </div>
  <div class="form-control form-control-check">
    <label for="reminder">Set Reminder</label>
    <input
      type="checkbox"
      name="reminder"
      id="reminder"
      [(ngModel)]="reminder"
    >
  </div>
  <input
    type="submit"
    value="Save Task"
    class="btn btn-primary"
  >
</form>